.home {
    height: 80%;
    background-image: linear-gradient(
            rgba(46, 47, 66, 90%),
            rgba(46, 47, 66, 90%)
    ),
    url("../../assets/home.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--primary-text-color);
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 32px;
    color: var(--primary-text-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.cta-text {
    color: var(--accent-color);
    margin-bottom: 70px;
}

.cta-btn {
    width: 100%;
}